.commentsOuterContainer{
    display: flex;
    justify-content: space-between;
}
.commentsInnerContainer{
    height: 200px;
    overflow-y: auto;
    margin-right: 30px;
}

.whole{
    align-items:center;
}

.matchesList {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}